h1{
    font-family: cursive;
    margin-bottom: 0px;
}

textarea {
    width: 95%;
    color: aliceblue;
    background-color: blue;
    font-size: 1.5rem;
    margin: 5px;
    border: 1.5px solid #000;
}

button{
    height: 40px;
    width: 100px;
    font-size: 1rem;
    margin: 15px 5px;
    color: aliceblue;
    background-color: red;
    border-radius: 50px;
}

